.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: $bg-color;
    padding: 1.2rem 1rem;

    @include media-up(sm) {
        padding: 1.5rem 2rem;
    }

    @include media-up(md) {
        padding: 2rem 3rem;
    }

    @include media-up(xl) {
        padding: 3rem 5rem;
    }
}
